* {
    // background-color: rgb(122, 2, 2);
    // background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body {
        .form-container {
            height: 100vh;
            width: 100%;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                color: whitesmoke;
            }
           .contact-form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                width: 30vw;
                height: 40vw;
                background-color: black; 
                input {
                    height: 5vh;
                    width: 20vw;
                    // background-color: rgb(80, 77, 77);
                    background-color: black;
                    border: none;
                    border-bottom: 1px solid rgb(161, 157, 157);
                    color: white;
                }
                textarea {
                    width: 20vw;
                    // background-color: rgb(82, 80, 80);
                    background-color: black;
                    border: 1px solid rgb(161, 157, 157);
                    // border-bottom: 1px solid rgb(80, 77, 77);
                    border-radius: 10px;
                    color: white;
                }
                #submit {
                    border: 1px solid rgb(80, 77, 77);
                    color: rgb(67, 173, 138);
                    border-radius: 10px;
                    cursor: pointer;
                }
           }
        }
    }
}